### Prediction of a salary range from a salary data using Desicion tree
The data contains the following columns:
1. company
2. job
3. degree
4. salary_more_then_100k

The features for prediction are company, job, degree while target variable is salary_more_then_100k

In [1]:
# importing the pandas library
import pandas as pd
#loading the data
train_data = pd.read_csv('salaries.csv')

In [2]:
# getting the top 5 rows of the data for understanding
train_data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
#seperating the loaded data into train_features(the feratures for prediction) 
#and train_target(the target variable to be predicted)
train_features = train_data.drop(['salary_more_then_100k'], axis=1)
train_target = train_data['salary_more_then_100k']

In [4]:
# importing the labelEncoder so as to help convert the categorical varibles to numbers
from sklearn.preprocessing import LabelEncoder

In [5]:
encode = LabelEncoder()

In [6]:
# creating new columns and converting the categorical data in the company, job and degree columns to numbers.
train_features['company_labeled'] = encode.fit_transform(train_features['company'])
train_features['job_labeled'] = encode.fit_transform(train_features['job'])
train_features['degree_labeled'] = encode.fit_transform(train_features['degree'])

In [8]:
train_features.head()

,company,job,degree,company_labeled,job_labeled,degree_labeled
0,google,sales executive,bachelors,2,2,0
1,google,sales executive,masters,2,2,1
2,google,business manager,bachelors,2,0,0
3,google,business manager,masters,2,0,1
4,google,computer programmer,bachelors,2,1,0

In [9]:
# removing the columns containing strings.
cols = ['company', 'job', 'degree']
train_features = train_features.drop(cols, axis=1)

In [10]:
train_features.head()

   company_labeled  job_labeled  degree_labeled
0                2            2               0
1                2            2               1
2                2            0               0
3                2            0               1
4                2            1               0

In [11]:
#importing train test split 
from sklearn.model_selection import train_test_split

In [12]:
#spliting my data into test and train data
X_train, X_test, y_train, y_test = train_test_split(train_features,train_target,test_size=0.30,random_state=1)

In [13]:
#importing the decision tree classifier
from sklearn import tree

In [14]:
model = tree.DecisionTreeClassifier()

In [15]:
# fiting the model
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [16]:
# accuracy of the model
model.score(X_test, y_test)

0.6

The process above shows a simple way of performing predictions on our data set using the decision tree classifier model with the help of scikit-learn. Although, the accuracy is low this just shows that we need to carry out more preprocessing due to the fact that the one used above was just basic preprocessing to allow for the running of our model.